<p id="notice"><%= notice %></p>

<h1>Messaves</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messaves.each do |messafe| %>
      <tr>
        <td><%= messafe.title %></td>
        <td><%= messafe.message %></td>
        <td><%= link_to 'Show', messafe %></td>
        <td><%= link_to 'Edit', edit_messafe_path(messafe) %></td>
        <td><%= link_to 'Destroy', messafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Messafe', new_messafe_path %>
